* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


HTML,
body {
  background: linear-gradient(
    to right,
    rgba(5, 13, 26),
    rgba(22, 35, 90),
    rgba(78, 16, 107)
);
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(187, 120, 181);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #72337a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b973fa;
}