/* .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .background-text {
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: rgb(159, 122, 225);
    text-align: center;
    font-family: OoohBaby;
    text-shadow: 0 0 5px rgba(223, 190, 255, 0.8),
                 0 0 10px rgba(223, 190, 255, 0.6),
                 0 0 20px rgba(223, 190, 255, 0.4),
                 0 0 30px rgba(223, 190, 255, 0.2);
    font-size: large;
  } */

  @font-face {
    font-family: OoohBaby;
    src: url(../../../public/OoohBaby-Regular.ttf);
  }

